@import "../src/lib/new-modifiers";
@import "../src/lib/new-engine";

@include describe("responsive modifier") {
  @include it("adds the responsive versions") {
    $util-map: (
      prefix: "m",
      properties: ("*": margin),
      values: (
        "1": 1px,
        "2": 2px,
      ),
      modifiers: responsive,
    );

    $expected: (
      ".m-1": (margin: 1px),
      ".m-2": (margin: 2px),
      "@media only screen and (min-width: 576px)": (
        ".sm\\:m-1": "#.m-1",
        ".sm\\:m-2": "#.m-2",
      ),
      "@media only screen and (min-width: 768px)": (
        ".md\\:m-1": "#.m-1",
        ".md\\:m-2": "#.m-2",
      ),
      "@media only screen and (min-width: 992px)": (
        ".lg\\:m-1": "#.m-1",
        ".lg\\:m-2": "#.m-2",
      ),
      "@media only screen and (min-width: 1200px)": (
        ".xl\\:m-1": "#.m-1",
        ".xl\\:m-2": "#.m-2",
      ),
    );

    @include assert-equal(build-utility($util-map), $expected);
  }
}

@include describe("hover modifier") {
  @include it("adds the hover versions") {
    $util-map: (
      prefix: "color",
      properties: ("*": color),
      values: (
        "red": #f00,
        "blue": #00f,
      ),
      modifiers: hover,
    );

    $expected: (
      ".color-red": (color: #f00),
      ".color-blue": (color: #00f),
      ".hover\\:color-red:hover": "#.color-red",
      ".hover\\:color-blue:hover": "#.color-blue",
    );

    @include assert-equal(build-utility($util-map), $expected);
  }
}

@include describe("multiple modifiers") {
  @include it("adds the hover versions") {
    $util-map: (
      prefix: "color",
      properties: ("*": color),
      values: (
        "red": #f00,
        "blue": #00f,
      ),
      modifiers: hover responsive,
    );

    $expected: (
      ".color-red": (color: #f00),
      ".color-blue": (color: #00f),
      ".hover\\:color-red:hover": "#.color-red",
      ".hover\\:color-blue:hover": "#.color-blue",
      "@media only screen and (min-width: 576px)": (
        ".sm\\:color-red": "#.color-red",
        ".sm\\:color-blue": "#.color-blue",
        ".sm\\:hover\\:color-red:hover": "#.color-red",
        ".sm\\:hover\\:color-blue:hover": "#.color-blue",
      ),
      "@media only screen and (min-width: 768px)": (
        ".md\\:color-red": "#.color-red",
        ".md\\:color-blue": "#.color-blue",
        ".md\\:hover\\:color-red:hover": "#.color-red",
        ".md\\:hover\\:color-blue:hover": "#.color-blue",
      ),
      "@media only screen and (min-width: 992px)": (
        ".lg\\:color-red": "#.color-red",
        ".lg\\:color-blue": "#.color-blue",
        ".lg\\:hover\\:color-red:hover": "#.color-red",
        ".lg\\:hover\\:color-blue:hover": "#.color-blue",
      ),
      "@media only screen and (min-width: 1200px)": (
        ".xl\\:color-red": "#.color-red",
        ".xl\\:color-blue": "#.color-blue",
        ".xl\\:hover\\:color-red:hover": "#.color-red",
        ".xl\\:hover\\:color-blue:hover": "#.color-blue",
      ),
    );

    @include assert-equal(build-utility($util-map), $expected);
  }
}
