@include describe("build-utility [function]") {
  @include it("builds the utility map") {
    $util-map: (
      prefix: "m",
      properties: (
        "*": margin,
        "t": margin-top,
        "b": margin-bottom,
        "y": margin-top margin-bottom,
      ),
      values: (
        "1": 1px,
        "2": 2px,
      ),
    );

    $expected: (
      ".m-1": (margin: 1px),
      ".m-2": (margin: 2px),
      ".mt-1": (margin-top: 1px),
      ".mt-2": (margin-top: 2px),
      ".mb-1": (margin-bottom: 1px),
      ".mb-2": (margin-bottom: 2px),
      ".my-1": (margin-top: 1px, margin-bottom: 1px),
      ".my-2": (margin-top: 2px, margin-bottom: 2px),
    );

    @include assert-equal(build-utility($util-map), $expected);
  }

  @include it("uses the `.{setting}` class name format") {
    $util-map: (
      properties: ("*": display),
      values: (
        "block": block,
        "hidden": none,
      ),
    );

    $expected: (
      ".block": (display: block),
      ".hidden": (display: none),
    );

    @include assert-equal(build-utility($util-map), $expected);

    $util-map: (
      prefix: "border",
      properties: (
        "*": border-width,
        "-t": border-top-width,
      ),
      values: (
        "": 1px,
        "0": 0,
      ),
    );

    $expected: (
      ".border": (border-width: 1px),
      ".border-t": (border-top-width: 1px),
      ".border-0": (border-width: 0),
      ".border-t-0": (border-top-width: 0),
    );

    @include assert-equal(build-utility($util-map), $expected);
  }

  @include it("uses the `.{prefix}-{setting}` class name format") {
    $util-map: (
      prefix: "m",
      properties: ("*": margin),
      values: (
        "1": 1px,
        "2": 2px,
      ),
    );

    $expected: (
      ".m-1": (margin: 1px),
      ".m-2": (margin: 2px),
    );

    @include assert-equal(build-utility($util-map), $expected);
  }

  @include it("uses the `.{prefix}{property-key}-{setting}` class name format") {
    $util-map: (
      prefix: "m",
      properties: ("t": margin-top),
      values: (
        "1": 1px,
        "2": 2px,
      ),
    );

    $expected: (
      ".mt-1": (margin-top: 1px),
      ".mt-2": (margin-top: 2px),
    );

    @include assert-equal(build-utility($util-map), $expected);
  }

  @include it("errors out when `properties` is not defined") {
    $util-map: ();

    $output: build-utility($util-map);
    $expected: "ERROR [build-utility] Utilities must have `properties`.";
    @include assert-equal($output, $expected);
  }

  @include it("errors out when `values` is not defined") {
    $util-map: (properties: ("*": display));

    $output: build-utility($util-map);
    $expected: "ERROR [build-utility] Utilities must have `values`.";
    @include assert-equal($output, $expected);
  }
}
