@include describe("render [mixin]") {
  @include it("renders classes") {
    $tree: (
      ".m-1": (
        margin: 1px,
        padding: 1px,
      ),
    );

    @include assert {
      @include output {
        @include render($tree);
      }

      @include expect {
        .m-1 {
          margin: 1px;
          padding: 1px;
        }
      }
    }
  }

  @include it("renders psuedo classes") {
    $tree: (
      ".hover\\:m-2:hover": (
        margin: 2px,
      ),
    );

    @include assert {
      @include output {
        @include render($tree);
      }

      @include expect {
        .hover\:m-2:hover {
          margin: 2px;
        }
      }
    }
  }

  @include it("renders ampersand") {
    $tree: (
      ".some-component": (
        background-color: "#fff",
        border-radius: 5px,
        padding: 5px,
        "&:hover": (
          padding: 10px,
        ),
      ),
    );

    @include assert {
      @include output {
        @include render($tree);
      }

      @include expect {
        .some-component {
          background-color: "#fff";
          border-radius: 5px;
          padding: 5px;

          &:hover {
            padding: 10px;
          }
        }
      }
    }
  }

  @include it("renders media queries") {
    $tree: (
      "@media only screen and (min-width: 576px)": (
        ".sm\\:m-1": (
          "margin": 1px,
        ),
      ),
    );

    @include assert {
      @include output {
        @include render($tree);
      }

      @include expect {
        @media only screen and (min-width: 576px) {
          .sm\:m-1 {
            margin: 1px;
          }
        }
      }
    }
  }
}
