// .md:flex
// .color-black
// .text-right
// .sm:mt-1
// m == selector
// t == side
// 1 == setting
// value == value
// sm == modifier

// $shape: [
//   (
//     "type": "media",
//     "name": "only screen and(min-width: 123px)",
//     "value": ["...node-list"]
//   ),
//   (
//     "type": "class",
//     "name": "whatever",
//     "value": ["...node-list"]
//   ),
//   (
//     "type": "property",
//     "name": "margin",
//     "value": 12px,
//   ),
// ];
@function build-properties($selector, $property-names, $value-map) {
  $node-list: [];

  @each $setting, $value in $value-map {
    $property-values: [];

    @each $property in $property-names {
      $property-values: append(
        $property-values,
        (
          "type": "property",
          "name": $property,
          "value": $value,
        )
      );
    }

    $node-list: append(
      $node-list,
      (
        "type": "class",
        "name": "#{$selector}#{$setting}",
        "value": $property-values,
      )
    );
  }

  @return $node-list;
}

@function build-utility($selector, $property-map, $value-map) {
  $node-list: [];

  @each $property-key, $property-names in $property-map {
    $node-list: join(
      $node-list,
      build-properties("#{$selector}#{$property-key}", $property-names, $value-map)
    );
  }

  @return $node-list;
}

@mixin render($node-list) {
  @each $node in $node-list {
    $node-type: map-get($node, "type");
    $node-name: map-get($node, "name");
    $node-value: map-get($node, "value");

    @if $node-type == "property" {
      #{$node-name}: $node-value;
    } @else if $node-type == "class" {
      .#{$node-name} {
        @include render($node-value);
      }
    } @else if $node-type == "media" {
      @media #{$node-name} {
        @include render($node-value);
      }
    }
  }
}

@mixin utility($selector, $property-map, $value-map, $modifiers: base) {
  $node-list: build-utility($selector, $property-map, $value-map);

  @each $modifier in $modifiers {
    $func: map-get($all-modifiers, $modifier);
    @include render(call($func, $node-list));

    // Also apply responsive modifier to modifiers
    @if $modifier == "responsive" {
      @each $sub-modifier in $modifiers {
        @if index(base responsive, $sub-modifier) == null {
          $sub-func: map-get($all-modifiers, $sub-modifier);
          @include render(call($func, call($sub-func, $node-list)));
        }
      }
    }
  }
}
