@function affix($node-list, $prefix: "", $suffix: "") {
  $new-node-list: [];

  @each $node in $node-list {
    $node-name: map-get($node, "name");
    $new-node-list: append(
      $new-node-list,
      map-merge($node, ("name": "#{$prefix}#{$node-name}#{$suffix}"))
    );
  }

  @return $new-node-list;
}

@function negate($value-map) {
  $new-value-map: ();

  @each $setting, $value in $value-map {
    $new-value-map: map-merge(
      $new-value-map,
      ($setting: $value * -1)
    );
  }

  @return $new-value-map;
}
