// setting map
$margin-map: (
  "": margin,
  t: margin-top,
  r: margin-right,
  b: margin-bottom,
  l: margin-left,
  x: margin-left margin-right,
  y: margin-top margin-bottom,
);

@include utility("m-", $margin-map, $margins, base hover responsive);

$display-map: (
  "": display,
);

// value map
$displays: (
  hidden: "none",
  block: "block",
  inline-block: "inline-block",
);

@include utility("", $display-map, $displays, base responsive);
